<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
  <th:block th:replace="~{/layout/header::headFrag('HolidayDeco')}"></th:block>
  <script th:src="@{/js/lib/jquery-3.6.4.min.js}"></script>
  <link rel="stylesheet" th:href="@{/css/font.css}">
  <link rel="stylesheet" th:href="@{/css/detail.css}">
  <link rel="stylesheet" th:href="@{/css/footer.css}">
</head>

<body>

  <div th:replace="~{/layout/header::gnbFrag}"></div>
  <div class="detailPage">

 <div class="itemImg">
      <div class="image-container">
        <!-- 이미지와 하트 이미지를 동일한 부모 요소에 넣음 -->
        <img class="main-image" th:src="@{/admin/display.do(itemNo=${item.itemNo})}">
        <div class="like-container">
          <input type="hidden" class="itemNo" th:value="${item.itemNo}">
          <img th:id="${item.itemNo}" th:src="@{/images/heart1.png}" class="like-image">
          <div class="heart-overlay"></div>
        </div>
      </div>
      <div class="itemInfo">
        <div class="itemTitle" id="itemTitle" th:text="${item.itemTitle}"></div>
        <div th:if="${item.itemStock == 0}">
          <p>품절된 상품입니다.</p>
        </div>
        <div class="price-group">
          <span class="price" style="font-size:18px;">가격</span>
          <div class="itemPrice" id="itemPrice" th:text="${#numbers.formatDecimal(item.itemPrice, 0, 'COMMA', 0, 'POINT')} + ' 원'"></div>
        </div>
        <div class="stock-group" th:if="${item.itemStock > 0}">
          <span class="price" style="font-size: 18px;">재고</span>
          <div class="itemStock" id="itemStock" th:text="${item.itemStock} + ' 개'"></div>
        </div>
        <div class="count-group">
          <span class="count-text" style="font-size:18px;">수량</span>
          <input type="text" name="count" id="count" value="1">
          <div class="btn-group">
            <input type="button" class="btnBuyCount" onclick="fnBtnPlus()" value="▲">
            <input type="button" class="btnBuyCount" onclick="fnBtnMinus()" value="▼">
          </div>
        </div>
        <form method="post" id="goBuyLocation">
          <hr style="width:380px; margin-bottom : 20px;">
          <div class="total-group" style="display: flex;">
            <span class="total-quantity" style="width: 300px; font-size:18px;">총 수량&nbsp;&nbsp;&nbsp;
              <span class="total-quantity-value" id="totalQuantity">1</span>
            </span>
            <span class="total" style="margin-bottom: 20px; width: 280px; font-size:18px; font-weight:600; color:#EB5858">
              <div class="price" id="price"></div>
            </span>
          </div>
          <div class="button-group">
            <input type="hidden" id="itemNo" name="itemNo" value="${item.itemNo}">
            <input type="button" id="btnAddToCart" value="장바구니" onclick="addToCart()" />
            <input type="hidden" id="getQuantity" name="quantity">
            <input type="hidden" id="goBuyBasket" name="goBuyBasket" value="바로구매">
            <input type="button" id="btnBuy" class="btnBuy" value="구매하기" onclick="goBuy()"/>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div id="detailImg">
    <img th:src="@{/admin/displayDetail.do(itemNo=${item.itemNo})}" style="margin-bottom:50px;">
  </div>

  <script th:inline="javascript">
    var count = 1;
    $('#countUp').val(count);

    var stock = /*[[${item.itemStock}]]*/ null;
    var price = /*[[${item.itemPrice}]]*/ null;

    function formatPrice(price) {
      return price.toLocaleString('ko-KR');
    }

    function updateTotalPrice() {
      var totalQuantity = count; // 개별 상품 수량
      var totalPrice = count * price; // 개별 상품 가격

      // 총 수량 업데이트
      $('#totalQuantity').text(totalQuantity + ' 개');

      // 총합계금액 업데이트
      $('#price').text(formatPrice(totalPrice) + ' 원');
    }

    function fnBtnPlus() {
      count++;
      count = (count <= stock) ? count : stock;
      $('#count').val(count);
      updateTotalPrice();
    }

    function fnBtnMinus() {
      if (count == 1) {
        alert('최소 주문 수량은 1개입니다.');
        return;
      }
      count--;
      $('#countUp').val(count);
      updateTotalPrice();
    }

    // 페이지 로드시 초기 총합계금액 설정
    updateTotalPrice();
    
    function addToCart() {
        // 수량 값 가져오기
        const quantity = parseInt($('#totalQuantity').text());
        // 상품 번호 가져오기
        var itemNo = /*[[${item.itemNo}]]*/ null;
        
        // 재고 가져오기
         
        var stock = /*[[${item.itemStock}]]*/null;
        
        var loginId = /*[[${session.loginId}]]*/null;

        if (stock === 0) {
          alert('품절된 상품으로 장바구니에 담을 수 없습니다.');
          return;
        }

        // 값 사용하여 데이터 전송
        const data = {
          itemNo : itemNo,
          quantity : quantity
        };

        $.ajax({
          type : 'post',
          url : '/cart/addCart.do',
          data : data,
          dataType : 'json',
          success : function(resData) {
            if (confirm(resData.msg)) {
              location.href = '/cart/getCartList.do';
            }
          },
          error : function() {
            // 로그인이 필요한 서비스 경고 메시지
            alert('로그인이 필요한 서비스입니다.');
            // 로그인 페이지로 이동
            location.href = '/user/login.html';
          }
        });
       }
    
    
  // 바로구매버튼
  function goBuy() {
	  // 수량 값 가져오기
    const quantity = parseInt($('#totalQuantity').text());
    // 상품 번호 가져오기
    var itemNo = /*[[${item.itemNo}]]*/ null;
    var userId = /*[[${session.loginId}]]*/ null;
    // 바로구매인지 체크하는 basket값 가져오기
    var goBuyBasket = $("#goBuyBasket").val();
    
    // 재고 가져오기
    var stock = /*[[${item.itemStock}]]*/null;

    if (stock === 0) {
      alert('품절된 상품으로 장바구니에 담을 수 없습니다.');
      return;
    }
      
      //데이터 값 설정
    const data = {
     itemNo : itemNo,
     quantity : quantity,
     goBuyBasket : goBuyBasket
    };

    $.ajax({
      type : 'post',
      url : '/order/addItem.do',
      data : data,
      dataType : 'json',
      success : function(resData) {
       var form = document.getElementById("goBuyLocation");
           form.setAttribute("action", "/order/orderDetails.html");
             form.submit();
             },
             error : function(xhr, status, error) {
            	  if(userId == null) {
            		  // 로그인이 필요한 서비스 경고 메시지
                  alert('로그인이 필요한 서비스입니다.');
                  // 로그인 페이지로 이동
                  location.href = '/user/login.html';
     
                  }else {
                  console.log('에러가 발생했습니다.');
                  console.log('상태 코드:', xhr.status);
                  console.log('에러:', error);
                  }
       }
    });
  }

    
      $(document).ready(function() {
        var loginStatus = /*[[${session.loginId}]]*/null;
        var likeList = /*[[${likeList}]]*/null;
        console.log(likeList);
        function chkLike() {
          for (let i = 0; i < likeList.length; i++) {
            console.log(likeList[i]);
            $('#' + likeList[i]).attr('src', '/images/heart2.png');
          }
        }
        chkLike();

        $('.like-image').on('click', function() {
          if (loginStatus != null) {
            // 클릭된 이미지에서 itemNo 가져오기
            var itemNo = $(this).siblings('.itemNo').val();

            if ($(this).attr('src') == '/images/heart1.png') {
              $(this).attr('src', '/images/heart2.png');
            } else {
              $(this).attr('src', '/images/heart1.png');
            }

            fnLikeAdd(itemNo);
          }
        });

        function fnLikeAdd(itemNo) {
          $.ajax({
            type : 'get',
            url : '/like/like.do?itemNo=' + itemNo,
            dataType : 'json',
            success : function(resData) {
              if (resData.addResult == 1) {
                alert('찜 등록이 되었습니다.');
              } else if (resData.deleteResult == 1) {
                alert('찜 등록이 삭제되었습니다.');
              }
            }
          });
        }
      });
      
      
      
      function goBuy() {
          // 수량 값 가져오기
          const quantity = parseInt($('#totalQuantity').text());
          // 상품 번호 가져오기
          var itemNo = /*[[${item.itemNo}]]*/ null;
      var userId = /*[[${session.loginId}]]*/ null;
          
          // 재고 가져오기 */
           
          var stock = /*[[${item.itemStock}]]*/null;

          if (stock === 0) {
            alert('품절된 상품으로 장바구니에 담을 수 없습니다.');
            return;
          }
          
          // 값 사용하여 데이터 전송
              const data = {
               itemNo : itemNo,
               quantity : quantity
             };

             $.ajax({
               type : 'post',
               // GO_BUY_T에 데이터 저장
               url : '/order/addItem.do',
               data : data,
               dataType : 'json',
               success : function(resData) {
                 var form = document.getElementById("goBuyLocation");
                     form.setAttribute("action", "/order/orderDetails.html");
                       form.submit();
                       // orderDetail페이지 post요청하기 위한 form
                
               },
               error : function(xhr, status, error) {
                 if(userId == null) {
                   
                   // 로그인이 필요한 서비스 경고 메시지
                   alert('로그인이 필요한 서비스입니다.');
                   // 로그인 페이지로 이동
                   location.href = '/user/login.html';
                   
                 }else {
                      console.log('에러가 발생했습니다.');
                      console.log('상태 코드:', xhr.status);
                      console.log('에러:', error);

                 }
                 }
             });
        }
    </script>
</body>
<div th:replace="~{/layout/footer::footerFrag}"></div>
</html>
