<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
  <th:block th:replace="~{/layout/header::headFrag('HolidayDeco')}"></th:block>
  <link rel="stylesheet" th:href="@{/css/list.css}">
  <link rel="stylesheet" th:href="@{/css/font.css}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
  <div th:replace="~{/layout/header::gnbFrag}"></div>

<body>
  <div id="itemList">
<form id="searchForm" method="GET">
      <select name="sort" id="sort" class="sort">
        <option value="title" id="title">Title</option>
      </select>
      <input type="search" id="query" placeholder="Search">
      <button type="button" id="searchButton">
        <i class="fa-solid fa-magnifying-glass"></i>
      </button>
    </form>
    <div class="itemMainList" >
      <th:block th:each="item, vs:${itemList}">
        <div class="item">
          <div class="MainImg">
            <a th:href="@{/item/detail.do(itemNo=${item.itemNo})}">
              <img th:src="@{/item/display.do(itemNo=${item.itemNo})}" class="photo_image">
            </a>
          </div>
          <!-- itemTitle 클릭 시 이동 -->
          <div class="itemInfo">
            <a th:href="@{/item/detail.do(itemNo=${item.itemNo})}" th:text="${item.itemTitle}"></a>
          </div>
          <!-- itemPrice 클릭 시 이동 -->
          <div class="itemInfo">
            <a th:href="@{/item/detail.do(itemNo=${item.itemNo})}" th:text="${#numbers.formatDecimal(item.itemPrice, 0, 'COMMA', 0, 'POINT')} + '원'"></a>
          </div>
        </div>
      </th:block>
    </div>
    <div id="pagination" th:utext="${pagination}"></div>
  </div>
</body>
<script>


function fnSearch() {
    var query = $('#query').val();

    // 검색어를 입력하지 않았을 때 경고창 띄우기
    if (query === '') {
        alert('검색어를 입력해주세요.');
        return;
    }

    // Ajax 호출
    $.ajax({
        url: '/item/search.do',  // 검색 결과를 보여줄 URL로 변경
        type: 'GET',
        dataType: 'html',     // 받아올 데이터 타입 변경
        data: {
            query: query
        },
        success: function(data) {
            // 검색 결과에서 itemMainList 영역만 추출
            var itemListHtml = $(data).find('.itemMainList').html();
            
            // itemList 영역에 업데이트
            $('#itemList .itemMainList').html(itemListHtml);
        },
        error: function(error) {
            console.error('Ajax 요청 에러:', error);
        }
    });
}

$('.fa-magnifying-glass').click(function (event) {
    event.preventDefault();
    fnSearch();
});

$('#query').on('keydown', function (event) {
    if (event.key === 'Enter') {
        event.preventDefault();
        fnSearch();
    }
});

 
/* //itemList의 자식 중에서 클래스가 .fa-magnifying-glass인 요소에서만 발생
$('#itemList').on('click', '.fa-magnifying-glass', function(event) {
    event.preventDefault();
    fnSearch();
});

//#query는 itemList의 자식 중에서 id가 query인 요소에서만 발생
$('#itemList').on('keydown', '#query', function(event) {
    if (event.key === 'Enter') {
        event.preventDefault();
        fnSearch();
    }
}); 
 */
/* function fnSearch() {
    var query = $('#query').val();

    // 검색어를 입력하지 않았을 때 경고창 띄우기
    if (query === '') {
        alert('검색어를 입력해주세요.');
        return;
    }

    // Ajax 호출
    $.ajax({
    	   url: '/item/search.do',
           type: 'GET',
           dataType: 'json', // 받아올 데이터 타입을 HTML로 변경
           data: {
               sort: sort,  // 'sort='와 'query=' 문자열을 제거하고 파라미터로 전달
               query: query
           },
           success: function(resData){
               if(confirm(resData.msg)) {
                 location.href = '/item/search.do';
               }
        },
        error: function(error) {
            console.error('Ajax 요청 에러:', error);
        }
    });
}

$('.fa-magnifying-glass').click(function (event) {
    event.preventDefault();
    fnSearch();
});

$('#query').on('keydown', function (event) {
    if (event.key === 'Enter') {
        event.preventDefault();
        fnSearch();
    }
}); 
 */
</script>


  

</html>
