<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/hung1001/font-awesome-pro@4cac1a6/css/all.css" />
<link rel="stylesheet" th:href="@{/css/admin.css}">
<body>
     <div>
     <div id="header">
     <div class="adminheader">
       <a th:href="@{/}"><i class="fad fa-home-lg" style="--fa-primary-color: #c41b08; --fa-secondary-color: #1bac61; --fa-secondary-opacity: 1;"></i></a>
       <a class="logout" th:href="@{/user/logout.do}"><i class="fad fa-sign-out-alt" style="--fa-primary-color: #878787; --fa-secondary-color: #0d0d0d; --fa-secondary-opacity: 1;"></i></a>
     </div>
      <div id="container-title">
        <h3>
          <a th:href="@{/admin/adminPageHome.html}">
          adminPage
          </a>
        </h3>
      </div>
      <hr class="separator separator--line--green" />
      <hr class="separator separator--line--red" />
     </div>
     <div th:replace="~{/layout/adminPageSidebar::adminSidebarFrag}"></div>
      <div id="onlyContent">
        <h2></h2>
        <br>
        <span>구매 내역(리스트3개만 보여주기)</span>
        <span>최근가입내역(리스트3개만 보여주기)</span>
      </div>
    </div>
</body>
</html>
