<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/hung1001/font-awesome-pro@4cac1a6/css/all.css" />
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<link rel="stylesheet" th:href="@{/css/admin.css}">
<link rel="stylesheet" th:href="@{/css/font.css}">
<link rel="stylesheet" th:href="@{/css/uploadItem.css}">
<head th:replace="~{/layout/adminheader::adminHeadFrag('HolidayDeco::adminPage')}">
</head>
<div th:replace="~{/layout/adminHeader::adminHeaderFrag}"></div>
<style>
  img {
    border-radius : 10px;
  }
  
  .image-box {
  display: flex;
  }
  .image-container {
        align-items: center;
        margin-bottom: 20px; /* 이미지와 텍스트 사이의 간격을 조절합니다. */
    }

    .image-container img {
        display: block;
        margin-right: 10px; /* 이미지 사이의 간격을 조절합니다. */
    }

    .image-container #mainImg,
    .image-container #detailImg {
        position: relative;
    }
    
   #itemTitle, #itemPrice, #itemStock {
        text-align: center;
    }
    
</style>
<body>
  <div>
    <div th:replace="~{/layout/adminPageSidebar::adminSidebarFrag}"></div>
    <div id="onlyContent" style="margin-bottom:30px; ">
      <h2></h2>
      <br>
      <div class="all-wrapper" >
    <div class="all" style="margin-bottom: 20px; position: relative;">
   
    <img th:src="@{/images/deco.png}" style="width: 400px; position: absolute; right: 210px; bottom:550px;">
   
      <form method="post" th:action="@{/admin/itemModify.do(itemNo=${itemList.itemNo})}" enctype="multipart/form-data">
      <input type="hidden" th:name="itemNo" th:value="${itemList.itemNo}">
        <div class="add" style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
        <div class="image-box">
          <div class="image-container">
            <div id="mainImg">
              (수정 전)메인이미지
              <img th:src="@{/admin/display.do(itemNo=${itemList.itemNo})}" width="180px;" height="100px;">
            </div>
            </div>
            <div class="image-container">
            <div id="detailImg">
              (수정 전)상세이미지
              <img th:src="@{/admin/displayDetail.do(itemNo=${itemList.itemNo})}" width="180px;" height="100px;">
            </div>
           </div>
         </div>
          <div style=" letter-spacing: 8px;">
              <label for="itemTitle">상품명</label>
              <input type="text" id="itemTitle" name="itemTitle" required="required" th:field="${itemList.itemTitle}" placeholder="수정할 상품명">
          </div>
          <div style=" letter-spacing: 5px;">
              <label for="itemPrice">상품가격</label>
              <input type="text" id="itemPrice" name="itemPrice" required="required" th:field="${itemList.itemPrice}" placeholder="수정할 상품금액">   
          </div>
          <div style=" letter-spacing: 5px;">
              <label for="itemStock">상품재고</label>
              <input type="text" id="itemStock" name="itemStock" required="required" th:field="${itemList.itemStock}" placeholder="수정할 상품재고">
          </div>
          <div style="padding-left: 60px;">
              <label for="itemMainImg">메인이미지</label>
              <input type="file" name="itemMainImg" id=itemMainImg required="required">
          </div>
          <div style="padding-left: 60px;">
              <label for="itemDetailImg">상세이미지</label>
              <input type="file" name="itemDetailImg" id="itemDetailImg" required="required">
          </div>
         <div class="btn">
            <button type="submit">상품 수정</button>
         </div>
         </div>
      </form>
      </div>
   </div>
   </div>
    </div>
</body>
</html>
