<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/hung1001/font-awesome-pro@4cac1a6/css/all.css" />
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<link rel="stylesheet" th:href="@{/css/admin.css}">
<link rel="stylesheet" th:href="@{/css/font.css}">
<head th:replace="~{/layout/adminheader::adminHeadFrag('HolidayDeco::adminPage')}">
</head>
<div th:replace="~{/layout/adminHeader::adminHeaderFrag}"></div>
<style>
table {
  width: 900px;
  border-collapse: collapse;
  margin-top: 20px;
  margin: auto;
}

th, td {
  border-bottom: 3px solid #dddddd;
  text-align: center;
  padding: 8px;
}

.orderList tbody tr:hover {
  background-color: #f5f5f5;
}

/* 배송 상태에 따른 클래스 추가 */
.status-ready, .status-in-transit {
  color: red;
}

.status-complete {
  color: green;
}


</style>
<body>
    <div th:replace="~{/layout/adminPageSidebar::adminSidebarFrag}"></div>
    <div id="onlyContent" style="margin-bottom:30px; height:700px;">
      <h2></h2>
      <br>
      <section id="content">
        <table class="orderList">
            <thead>
                <tr>
                    <th>주문번호</th>
                    <th>수령인</th>
                    <th>주소</th>
                    <th>가격</th>
                    <th>상태</th>
                </tr>
            </thead>
            <tbody>
                <th:block th:each="orderItem : ${orderList}">
                    <tr>
                        <td><a th:href="@{/admin/manageOrderView.do(n=${orderItem.itemOrderNo})}" th:text="${orderItem.itemOrderNo}"></a></td>
                        <td><span th:text="${orderItem.name}"></span></td>
                        <td>(<span th:text="${orderItem.postcode}"></span>) <span th:text="${orderItem.roadAddress}"></span> <span th:text="${orderItem.detailAddress}"></span></td>
                        <td><span th:text="${#numbers.formatDecimal(orderItem.orderTotal, 0, 'COMMA', 0, 'POINT')} + '원'"></span></td>
                         <td th:class="${orderItem.delivery == '배송준비' ? 'status-ready' : (orderItem.delivery == '배송 중' ? 'status-in-transit' : (orderItem.delivery == '배송완료' ? 'status-complete' : ''))}">
                            <span th:text="${orderItem.delivery}"></span>
                        </td>
                    </tr>
                </th:block>
            </tbody>
        </table>
    </section>
      </div>
</body>
</html>

