<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/hung1001/font-awesome-pro@4cac1a6/css/all.css" />
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<link rel="stylesheet" th:href="@{/css/admin.css}">
<link rel="stylesheet" th:href="@{/css/font.css}">
<link rel="stylesheet" th:href="@{/css/uploadItem.css}">
<head th:replace="~{/layout/adminHeader::adminHeadFrag('HolidayDeco::adminPage')}">
</head>
<div th:replace="~{/layout/adminHeader::adminHeaderFrag}"></div>
<style>
 #itemTitle, #itemPrice, #itemStock {
        text-align: center;
    }
</style>
<body>
  <div>
    <div th:replace="~{/layout/adminPageSidebar::adminSidebarFrag}"></div>
    <div id="onlyContent" style="margin-bottom:30px; ">
      <h2></h2>
      <br>
      <div class="all-wrapper" >
    <div class="all" style="margin-bottom: 20px; position: relative;">
   
    <img th:src="@{/images/deco.png}" style="width: 400px; position: absolute; right: 210px; bottom:550px;">
   
      <form method="post" th:action="@{/admin/uploadItem.do}" enctype="multipart/form-data">
        <div class="add" style="display: flex; flex-direction: column; align-items: center; justify-content: center;">

    <div style=" letter-spacing: 8px;">
        <label for="itemTitle">상품명</label>
        <input type="text" id="itemTitle" name="itemTitle" required="required">
    </div>
    <div style=" letter-spacing: 5px;">
        <label for="itemPrice">상품가격</label>
        <input type="text" id="itemPrice" name="itemPrice" required="required">   
    </div>
    <div style=" letter-spacing: 5px;">
        <label for="itemStock">상품재고</label>
        <input type="text" id="itemStock" name="itemStock" required="required">
    </div>
    <div style="padding-left: 60px;">
        <label for="itemMainImg">메인이미지</label>
        <input type="file" name="itemMainImg" id=itemMainImg required="required">
    </div>
    <div style="padding-left: 60px;">
        <label for="itemDetailImg">상세이미지</label>
        <input type="file" name="itemDetailImg" id="itemDetailImg" required="required">
    </div>
         <div class="btn">
            <button>상품 등록</button>
         </div>
         </div>
      </form>
      </div>
   </div>
   </div>
    </div>
</body>
</html>
