<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <head th:replace="~{/layout/header::headFrag('HolidayDeco')}"></head>
    <div th:replace="~{/layout/header::gnbFrag}"></div>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/font.css}">
    <link rel="stylesheet" th:href="@{/css/cart.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>

<script th:inline="javascript">

function fnGoItemList() {
	location.href="/item/list.do";
}
  
	function submitForm(actionType) {
	    // 선택된 상품 처리
	    var selectedItems = [];
	    $(".checkOne:checked").each(function() {
	        selectedItems.push($(this).val());
	    });

	    // 전체 상품 처리
	    var allItems = [];
	    $(".checkOne").each(function() {
	        allItems.push($(this).val());
	    });

	    if (selectedItems.length === 0) {
	        alert('주문할 상품을 선택해주세요.');
	        return;
	    }

	    // 폼 동적 생성
	    var form = document.createElement('form');
	    form.method = 'post';

	    // actionType에 따라 다른 action 설정
	    form.action = '/order/' + (actionType === 'orderSelect' ? 'orderSelect.do' : 'orderAll.do');

	    document.body.appendChild(form);

	    // 선택된 상품 input 동적 추가
	    if (actionType === 'orderSelect') {
	        var selectedItemsInput = document.createElement('input');
	        selectedItemsInput.type = 'hidden';
	        selectedItemsInput.name = 'selectedItems';
	        selectedItemsInput.value = selectedItems.join(',');
	        form.appendChild(selectedItemsInput);
	    }

	    // 전체 상품 input 동적 추가
	    if (actionType === 'orderAll') {
	        var allItemsInput = document.createElement('input');
	        allItemsInput.type = 'hidden';
	        allItemsInput.name = 'allItems';
	        allItemsInput.value = allItems.join(',');
	        form.appendChild(allItemsInput);
	    }

	    // 폼 제출
	    form.submit();
	}
  

// 선택된 상품의 식별자를 배열에 저장하는 함수
function getCheckedItem() {
    var itemNoArr = [];
    $(".checkOne:checked").each(function() {
        itemNoArr.push($(this).val());
    });
    return itemNoArr.join(',');
}

// 전체 상품의 식별자를 배열에 저장하는 함수
function getAllItems() {
    var itemNoArr = [];
    $(".checkOne").each(function() {
        itemNoArr.push($(this).val());
    });
    return itemNoArr.join(',');
}

$(document).ready(function() {
	 // 개별 체크박스 클릭 시
    $(".checkOne").change(function() {
        if ($(".checkOne:checked").length === $(".checkOne").length) {
            $("#checkAll").prop("checked", true);
        } else {
            $("#checkAll").prop("checked", false);
        }
        totalAmount();
    });

    // 전체 선택 체크박스 클릭 시
    $("#checkAll").change(function() {
        $(".checkOne").prop("checked", $("#checkAll").prop("checked"));
        totalAmount();
    });

    // 총 결제금액 구하기 (체크된 상품만)
    function totalAmount() {
        var totalAmount = 0;

        $(".checkOne:checked").each(function() {
            var item = $(this).closest('.item');
            var quantity = parseInt(item.find('.quantity').val());
            var price = parseFloat(item.find('.itemInfo').eq(1).text().replace('원', '').replace(',', ''));

            totalAmount += quantity * price;
        });

        $('.totalAmount').text(totalAmount.toLocaleString() + "원");
    }

    /* 수량 변경 시 DB 업데이트 */
    function fnUpdateCart(quantity, itemNo) {
        $.ajax({
            type: 'get',
            url: '/cart/updateCartQuantity.do',
            data: 'quantity=' + quantity + '&itemNo=' + itemNo,
        })
    }

    // 수량 증가
    function fnBtnPlus(item) {
        var inputQuantity = item.find('.quantity');
        var currentQuantity = parseInt(inputQuantity.val());
        inputQuantity.val(currentQuantity + 1);
        totalAmount();
        var itemNo = item.find('.checkOne').val();
        fnUpdateCart(currentQuantity + 1, itemNo);
    }

    // 수량 감소
    function fnBtnMinus(item) {
        var inputQuantity = item.find('.quantity');
        var currentQuantity = parseInt(inputQuantity.val());
        if (currentQuantity > 1) {
            inputQuantity.val(currentQuantity - 1);
            totalAmount();
            var itemNo = item.find('.checkOne').val();
            fnUpdateCart(currentQuantity - 1, itemNo);
        } else {
            alert('최소 주문 수량은 1개입니다.');
        }
    }

    // 이벤트 바인딩
    $(document).on('click', '.btnBuyCount.plus', function () {
        var item = $(this).closest('.item');
        fnBtnPlus(item);
    });

    $(document).on('click', '.btnBuyCount.minus', function () {
        var item = $(this).closest('.item');
        fnBtnMinus(item);
    });
    
    /* 상품 번호를 저장할 배열 */
    var itemNoArr = [];

  /* 선택된 상품의 식별자를 배열에 저장하는 함수 */
  function getCheckedItem() {
      itemNoArr = [];
      $(".checkOne:checked").each(function () {
          itemNoArr.push($(this).val());
      });
  }


  /* 선택된 상품 삭제 */
  $('#delete').on('click', function () {
      getCheckedItem(); // 선택된 상품의 번호 업데이트
  
      if (itemNoArr.length > 0 && confirm('선택한 상품을 삭제하시겠습니까?')) {
          var itemNoStr = itemNoArr.join(',');
          location.href = '/cart/deleteCart.do?itemNoArr=' + itemNoStr;
      } else {
          alert('삭제할 상품을 선택해주세요.');
      }
  });

    
    

    /* 장바구니가 비었을 때 주문페이지 이동 막기*/
    $('#frmOrderAll').on('submit',function(event) {
        var cartLength = /*[[${cartList.size()}]]*/ null;
        if(cartLength == '0') {
            alert('장바구니가 비어있어 주문페이지 이동이 불가합니다.');
            event.preventDefault();
        }
    })
});
</script>
<div class="cartList">
    <h4 id="cartTitle">Cart</h4>
    <div class="cartBox">
        <div class="cartItem">
          <div class="emptyCart" th:if="${cartList == null or #lists.isEmpty(cartList)}">
             <h3>장바구니에 담긴 상품이 없습니다.</h3>
             <p style="color:#0B6138;">원하는 상품을 장바구니에 담아보세요!</p>
                <div class="selectDelete">
                  <input type="button" value="쇼핑 계속하기" id="continueShopping" onclick="fnGoItemList()"/>
                </div>
          </div>
            <div class="cartForm" th:unless="${#lists.isEmpty(cartList)}">
                <input type="checkbox" id="checkAll" value="checkAll" /> <label for="checkAll" style="font-family: 'SUITE-Regular';">전체선택</label>
                <th:block th:each="item, vs:${cartList}">
                    <div class="item">
                        <input type="checkbox" th:id="${item.itemNo}" class="checkOne"  th:value="${item.itemNo}"  />
                        <div class="MainImg">
                            <a th:href="@{/item/detail.do(itemNo=${item.itemNo})}">
                                <img th:src="@{/item/display.do(itemNo=${item.itemNo})}" class="photo_image">
                            </a>
                        </div>
                        <div class="itemInfo">
                            <a th:href="@{/item/detail.do(itemNo=${item.itemNo})}" th:text="${item.itemTitle}"></a>
                        </div>
                        <div class="itemInfo">
                            <a th:href="@{/item/detail.do(itemNo=${item.itemNo})}" th:text="${#numbers.formatDecimal(item.itemPrice, 0, 'COMMA', 0, 'POINT')} + '원'"></a>
                        </div>
                        <div class="itemInfo">
                            <input type="text" name="quantity" class="quantity" th:value="${item.quantity}">
                            <div class="btn-group">
                                <input type="button" class="btnBuyCount plus" value="▲">
                                <input type="button" class="btnBuyCount minus" value="▼">
                            </div>
                        </div>
                    </div>
                </th:block>
            </div>
            <hr>
            <div class="totalPrice" th:unless="${#lists.isEmpty(cartList)}">
                <span>총 결제금액 &nbsp; </span> <span class="totalAmount"></span>
            </div>
            <div class=btn-forward-group th:unless="${#lists.isEmpty(cartList)}">
                <div class="goBack">
                    <input type="button" value="돌아가기" id="goBack" onclick="history.back()"/>
                </div>
                 <form id="frmOrder" method='post'>
                    <div class="purchase">
                        <input type="hidden" name="userNo" value="${userNo}">
                        <input type="hidden" id="selectedItems" name="selectedItems">
                        <input type="button" value="구매하기" id="purchase" onclick="submitForm('orderSelect')" />
                    </div>
                </form>
                  <div class="selectDelete">
                    <input type="hidden" name="userNo" value="${userNo}">
                    <input type="button" value="삭제" id="delete" />
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>
