<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{/layout/header::headFrag('HolidayDeco')}"></head>
<div th:replace="~{/layout/header::gnbFrag}"></div>
<link rel="stylesheet" th:href="@{/css/user.css}"> <!-- user페이지전용 css모음 -->
<!-- cdnjs.com 에서 jquery-cookie 검색 후 jquery-cookie 라이브러리 포함 -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js" integrity="sha512-3j3VU6WC5rPQB4Ld1jnLV7Kd5xr+cq9avvhwqzbH/taCRNURoeEpoPBK9pDyeukwSxwRPJ8fDgvYXd6SkaZ2TA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<link rel="stylesheet" th:href="@{/css/footer.css}">
<script th:inline="javascript">

function fnGoItemList() {
  location.href="/item/list.do";
}

function fnOrderList() {
    location.href="/order/orderList.do";
  }

</script>
<body>
     <div id="container">
      <div id="container-title">
        <h3>Kakaopay completed</h3>
      </div>
      <div id="onlyContent">
        <div class="card">
        <div th:text="|${session.loginName}님|" id="userName"></div>
        <div th:if="${orderList != null and orderList.size() > 0}">
          <p><span>주문번호 <a th:href="@{/order/orderView.do(n=${orderList[0].itemOrderNo})}" th:text="${orderList[0].itemOrderNo}"></a></span></p>
       </div>
        결제가 완료되었습니다.
          <div class="button-group">
            <input class="deepGreen-middle-Btn" type="button" value="쇼핑 계속하기" id="continueShopping" onclick="fnGoItemList()"/>
            <input class="deepGreen-middle-Btn" type="button" value="나의 주문 정보" id="myOrderList" onclick="fnOrderList()"/>
          </div>
          
        </div> 
      </div>
    </div>
        <div id="bottom"></div>
        <div id="footer">
          <div th:replace="~{/layout/footer::footerFrag}"></div>
        </div>
</body>
</html>