<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{/layout/header::headFrag('HolidayDeco')}"></head>
<div th:replace="~{/layout/header::gnbFrag}"></div>
<link rel="stylesheet" th:href="@{/css/user.css}"> <!-- user페이지전용 css모음 -->
<style>

.orderTable {
  width: 710px;
  border-collapse: collapse;
  text-align: center;
  font-size: 16px;
  margin-bottom: 50px;
  margin-left: 60px;
}

.orderTable th, .orderTable td {
  border-bottom: 3px solid #ddd; 
  padding: 8px; 
  text-align: center; 
}

/* 배송 상태에 따른 클래스 추가 */
.status-ready, .status-in-transit {
  color: red;
}
.status-complete {
  color: green;
}

.orderTable tbody tr:hover {
  background-color: #f5f5f5;
}

</style>
<body>
     <div id="container">
      <div id="container-title">
        <h3 style="margin-left:10%;">My OrderList</h3>
      </div>
      <div id="sidebar-left">
        <div id="sidebar-left-inner">
          <div th:replace="~{/layout/myPageSidebar::sidebarFrag}"></div>
        </div>
      </div>
      <div id="content">
          <table class="orderTable">
            <thead>
                <tr>
                    <th>주문번호</th>
                    <th>수령인</th>
                    <th>배송지</th>
                    <th>총 주문 금액</th>
                    <th>상태</th>
                </tr>
            </thead>
            <tbody>
                <th:block th:each="orderItem : ${orderList}">
                    <tr>
                        <td>
                            <a th:href="@{/order/orderView.do(n=${orderItem.itemOrderNo})}" th:text="${orderItem.itemOrderNo}"></a>
                        </td>
                        <td><span th:text="${orderItem.name}"></span></td>
                        <td>(<span th:text="${orderItem.postcode}"></span>)<span th:text="${orderItem.roadAddress}"></span><span th:text="${orderItem.detailAddress}"></span></td>
                        <td><span th:text="${#numbers.formatDecimal(orderItem.orderTotal, 0, 'COMMA', 0, 'POINT')} + '원'"></span></td>
                        <td th:class="${orderItem.delivery == '배송준비' ? 'status-ready' : (orderItem.delivery == '배송 중' ? 'status-in-transit' : (orderItem.delivery == '배송완료' ? 'status-complete' : ''))}">
                            <span th:text="${orderItem.delivery}"></span>
                        </td>
                    </tr>
                </th:block>
            </tbody>
        </table>
      </div>
      <div id="sidebar-right">
        <h2>rightSidebar</h2>
      </div>
      <div id="footer">
        <p>Copyright</p>
      </div>
    </div>
</body>
</html>
