<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headFrag(title)">
<meta charset="UTF-8">
<title th:text="${title}"></title>
<link rel="stylesheet" th:href="@{/css/font.css}"> <!-- 폰트 css모음 -->
<link rel="stylesheet" th:href="@{/css/header.css}"> <!-- header css모음 -->

<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Island+Moments&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/hung1001/font-awesome-pro@4cac1a6/css/all.css" />

<script th:src="@{/js/lib/jquery-3.6.4.min.js}"></script>
<script th:src="@{/js/logoTitle.js}"></script>
</head>
<body>
  <div th:fragment="gnbFrag">
  
    <div class="login">
      <!-- 로그인 안했을때 네비바  -->
      <div th:if="${#strings.isEmpty(session.loginId)}">
        <span>
          <a th:href="@{/user/login.html}" style="color: black;">login</a>
          <a th:href="@{/user/agree.html}" style="color: black;">join</a>
        </span>
      </div>
      <!-- 로그인 했을때 네비바  -->
      <div th:unless="${#strings.isEmpty(session.loginId)}">
        <span>
          <span th:text="|${session.loginName} 님 반갑습니다|"></span>
          <th:block th:if="${session.loginId  != null and session.adminChk == 0}">
            <a class="nav-link" th:href="@{/user/myPageHome.html}"><i class="far fa-home fa-xs" style="color: #000000;"></i></a>
            <a class="nav-link" th:href="@{/cart/getCartList.do}" ><i class="far fa-shopping-cart fa-xs" style="color: #000000;"></i></a>
            <a class="nav-link" th:href="@{/}" ><i class="far fa-heart fa-xs" style="color: #000000;"></i></a>
          </th:block>
          <th:block th:if="${session.loginId != null and session.adminChk == 1}">
            <a class="nav-link" th:href="@{/admin/adminPageHome.html}">adminpage</a>
          </th:block>
          <th:block th:if="${#strings.isEmpty(session.accessToken)}">
            <a class="nav-link" th:href="@{/user/logout.do}">logout</a>
          </th:block>
            <th:block th:unless="${#strings.isEmpty(session.accessToken)}">
              <a class="nav-link" th:href="@{/user/kakao/logout.do}">kakaologout</a>
            </th:block>
        </span>
      </div>
    </div>
    
    <!-- 글자의 색 변화를 위해 클래스와 id로 선택자를 나눠줌 / 색 변화주기는 logoTitle.js 색지정 : header.css-->
    <div class="logo">
      <a th:href="@{/}">
        <span class="logoHappy">Happy </span>
        <span id="logoHolidayDeco" >HolidayDeco</span>
      </a>
    </div>
    <nav>
      <div class="item-link"><a th:href="@{/item/list.do}">ChristmasItem</a></div>
    </nav>
    <div>
      <hr class="separator separator--line--green" />
      <hr class="separator separator--line--red" />
    </div>
    
  </div>
  
</body>
</html>