<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{/layout/header::headFrag('HolidayDeco')}"></head>
<div th:replace="~{/layout/header::gnbFrag}"></div>
<link rel="stylesheet" th:href="@{/css/user.css}"> <!-- user페이지전용 css모음 -->
<link rel="stylesheet" th:href="@{/css/footer.css}">
<script>

//Enter 키를 눌렀을 때 확인 버튼 클릭
document.addEventListener("keydown", function (event) {
  if (event.key === "Enter") {
    document.getElementById("btnCheckPw").click();
  }
});
  
  function fnCheckPwCancel(){
    $('#btnCancel').on('click', function(){
    	location.href = '/user/myPageHome.html';
    })
  }
  
  function fnCheckPw(){
    $('#btnCheckPw').on('click', function(){
      $.ajax({
        type: 'post',
        url: '/user/checkPw.do',
        data: 'pw=' + $('#pw').val(),
        dataType: 'json',
        success: function(resData){
          if(resData.isCorrect){
            location.href = '/user/modifyInfo.html';
          } else {
            alert('비밀번호를 확인하세요.');
          }
        }
      })
    })
  }
  
  $(function(){
    fnCheckPwCancel();
    fnCheckPw();
  });
  
</script>
<body>
     <div id="container">
      <div id="container-title">
        <h3>modifyInfo</h3>
      </div>
      <div id="sidebar-left">
        <div id="sidebar-left-inner">
          <div th:replace="~{/layout/myPageSidebar::sidebarFrag}"></div>
        </div>
      </div>
      <div id="content">
        <div class="card">
          <div>
  
    <div>개인정보보호를 위해서 비밀번호를 다시 한 번 입력하세요</div>
    
    <div>
      <label for="pw"></label>
      <input class="input-middle-Box" type="password" id="pw" placeholder="비밀번호를 입력하세요" style="margin-top: 15px;">
    </div>
    
    <div>
      <input class="red-small-Btn" type="button" value="취소" id="btnCancel">
      <input class="deepGreen-small-Btn" type="button" value="확인" id="btnCheckPw">
    </div>
    
  </div>
          
        </div> 
      </div>
      <div id="sidebar-right">
        <h2>rightSidebar</h2>
      </div>
      <div id="container-footer">
        <p>Copyright</p>
      </div>
    </div>
    <div id="bottom"></div>
    <div id="footer">
      <div th:replace="~{/layout/footer::footerFrag}"></div>
    </div>
</body>
</html>
