<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{/layout/header::headFrag('HolidayDeco')}"></head>
<div th:replace="~{/layout/header::gnbFrag}"></div>

<body>
  <div class="main"> 
    <h4 class="mb-4 pb-3">Log In</h4>
    <form id="frmLogin" method="post" th:action="@{/user/login.do}">
    <div>
      <input type="text" name="id" id="id" placeholder="아이디" autocomplete="off">
    </div>  
    <div>
      <input type="password" name="pw" id="pw" placeholder="비밀번호" autocomplete="off">
    </div>
    <label>
      <input class="check" type="checkbox" id="chkRememberId" >
      아이디 기억
    </label>
    <label>
      <input class="check" type="checkbox" id="auto-login">
      자동 로그인
    </label>
    <br>
    <button class="loginButton">로그인</button>
    <button>카카오 로그인</button>
    <button>네이버 로그인</button>
    <div>아이디 또는 비밀번호를 잊으셨나요?</div>
    <button>아이디 찾기</button>
    <button>비밀번호 찾기</button> 
    <br>
    <button>회원가입</button> 
    </form>
  </div>
</body>
<script th:src="@{/js/login.js}"></script>
<script th:inline="javascript">

  // 로그인하기
  function fnLogin(){
    
    $('#frmLogin').on('submit', function(event){
      
      // 아이디, 비밀번호 공백 검사
      if($('#id').val() == '' || $('#pw').val() == ''){
        swal("로그인 실패","아이디와 비밀번호를 모두 입력하세요.","info");
        event.preventDefault();
        return;
      }
      
      // 아이디 기억을 체크하면 rememberId 쿠키에 입력된 아이디를 저장
      if($('#chkRememberId').is(':checked')){
        $.cookie('rememberId', $('#id').val());
      } else {
        $.cookie('rememberId', '');
      }
      
    });
    
  }
  
  // 쿠키에 기억된 아이디 보여주기(아이디 기억)
  function fnDisplayRememberId(){
    
    // rememberId 쿠키에 저장된 아이디를 가져와서 표시
    
    let rememberId = $.cookie('rememberId');
    if(rememberId == ''){
      $('#id').val('');
      $('#chkRememberId').prop('checked', false);
    } else {
      $('#id').val(rememberId);
      $('#chkRememberId').prop('checked', true);
    }
    
  }
  
  $(function(){
    fnLogin();
    fnDisplayRememberId();
  });
  
</script>


</html>
