<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{/layout/header::headFrag('HolidayDeco')}"></head>
<div th:replace="~{/layout/header::gnbFrag}"></div>
<link rel="stylesheet" th:href="@{/css/user.css}"> <!-- user페이지전용 css모음 -->
<!-- cdnjs.com 에서 jquery-cookie 검색 후 jquery-cookie 라이브러리 포함 -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js" integrity="sha512-3j3VU6WC5rPQB4Ld1jnLV7Kd5xr+cq9avvhwqzbH/taCRNURoeEpoPBK9pDyeukwSxwRPJ8fDgvYXd6SkaZ2TA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<link rel="stylesheet" th:href="@{/css/footer.css}">
<script th:inline="javascript">
//$.cookie() : jquery-cookie 라이브러리가 필요함

  // 로그인하기
  function fnLogin(){
    
    $('#frmLogin').on('submit', function(event){
        
        // 아이디, 비밀번호 공백 검사
        if($('#id').val() == '' || $('#pw').val() == ''){
          alert('아이디와 비밀번호를 모두 입력하세요.');
          event.preventDefault();
          return;
        }
      
      // 아이디 기억을 체크하면 rememberId 쿠키에 입력된 아이디를 저장
      if($('#chkRememberId').is(':checked')){
        $.cookie('rememberId', $('#id').val());
      } else {
        $.cookie('rememberId', '');
      }
      
    });
    
  }
  
  // 쿠키에 기억된 아이디 보여주기(아이디 기억)
  function fnDisplayRememberId(){
    
    // rememberId 쿠키에 저장된 아이디를 가져와서 표시
    
    let rememberId = $.cookie('rememberId');
    if(rememberId == ''){
      $('#id').val('');
      $('#chkRememberId').prop('checked', false);
    } else {
      $('#id').val(rememberId);
      $('#chkRememberId').prop('checked', true);
    }
    
  }
  
  $(function(){
    fnLogin();
    fnDisplayRememberId();
  });
  
</script>
<body>
     <div id="container">
      <div id="container-title">
        <h3>login</h3>
      </div>
      <div id="onlyContent">
        <div class="card">
        <form id="frmLogin" method="post" th:action="@{/user/login.do}">
          <!-- 로그인 이후에 이동할 주소 -->
          <input type="hidden" name="url" th:value="${url}">
          <div>
            <input class="input-long-Box" type="text" name="id" id="id" placeholder="아이디" autocomplete="off">
          </div>
          <div>
            <input class="input-long-Box" type="password" name="pw" id="pw" placeholder="비밀번호" autocomplete="off">
          </div>
          <div>
            <input type="checkbox" id="chkRememberId">
            <label for="chkRememberId">아이디 기억</label>
            <input type="checkbox" name="chkAutologin" id="chkAutologin">
            <label for="chkAutologin">자동 로그인</label>
          </div>
          <button class="red-long-Btn">로그인</button>
          <br>
        </form>
        <a th:href="${kakaoApiURL}"><button class="kakaologinButton">카카오 로그인</button></a>
        <a th:href="${naverApiURL}"><button class="naverloginButton">네이버 로그인</button></a>
        <div>아이디 또는 비밀번호를 잊으셨나요?</div>
        <span>
          <a class="deepGreen-middle-Btn" th:href="@{/user/findId.html}">아이디 찾기</a>
          <a class="deepGreen-middle-Btn" th:href="@{/user/findPw.html}">비밀번호 찾기</a>
        </span>
          <div class="menu sidebar_effect">
            <a th:href="@{/user/agree.html}" style="display:inline-block;width: 150px;"><span>회원가입</span></a>
          </div>
        </div> 
      </div>
      <div id="container-footer">
        <p>Copyright</p>
      </div>
    </div>
    <div id="bottom"></div>
    <div id="footer">
      <div th:replace="~{/layout/footer::footerFrag}"></div>
    </div>
</body>
</html>
