<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{/layout/header::headFrag('HolidayDeco')}"></head>
<div th:replace="~{/layout/header::gnbFrag}"></div>
<link rel="stylesheet" th:href="@{/css/user.css}"> <!-- user페이지전용 css모음 -->

<body>
     <div id="container">
      <div id="container-title">
        <h3>myPageHome</h3>
      </div>
      <div id="sidebar-left">
        <div id="sidebar-left-inner">
          <div th:replace="~{/layout/myPageSidebar::sidebarFrag}"></div>
        </div>
      </div>
      <div id="content">
        <div class="card">
        <h2 th:text="|${session.loginName} 님 반갑습니다|"></h2>
        <br>
        <span>최근 구매 내역</span>
         <th:block th:each="orderItem : ${orderList}" th:limit ="3">
          <div>
              <p><span>주문 번호 : <a th:href="@{/order/orderView.do(n=${orderItem.itemOrderNo})}" th:text="${orderItem.itemOrderNo}"></a></span></p>
          </div>
        </th:block>
        </div> 
      </div>
      <div id="sidebar-right">
        <h2>rightSidebar</h2>
      </div>
      <div id="footer">
        <p>Copyright</p>
      </div>
    </div>
</body>
</html>
