<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{/layout/header::headFrag('HolidayDeco')}"></head>
<div th:replace="~{/layout/header::gnbFrag}"></div>
<link rel="stylesheet" th:href="@{/css/user.css}"> <!-- user페이지전용 css모음 -->
<script th:inline="javascript">
  // JavaScript 코드 작성
  function confirmOut() {
    // 사용자에게 확인 대화 상자 표시
    var result = confirm('동일한 아이디로 재가입이 불가능합니다. 회원 탈퇴하시겠습니까?');
    
    // 확인 버튼을 클릭한 경우
    if (result === true) {
      // /user/out.do로 이동
      window.location.href = '/user/out.do';
    }
  }
</script>
<body>
     <div id="container">
      <div id="container-title">
        <h3>cancel membership</h3>
      </div>
      <div id="sidebar-left">
        <div id="sidebar-left-inner">
          <div th:replace="~{/layout/myPageSidebar::sidebarFrag}"></div>
        </div>
      </div>
      <div id="content">
        <div class="card">
        <div>
          <p>탈퇴를 원하시면 탈퇴버튼을 클릭해주세요.</p>
        </div>
        <button class="red-small-Btn" id="outBtn" onclick="confirmOut()" style="margin-top: 20px;">탈퇴</button>
        </div> 
      </div>
      <div id="sidebar-right">
        <h2>rightSidebar</h2>
      </div>
      <div id="footer">
        <p>Copyright</p>
      </div>
    </div>
</body>
</html>
