@charset "UTF-8";

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body, html {
    height: 100%;
  }
 
  .text {
    font-family: 'InkLipquid';
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-150%, 550%); 
    font-size: 48px;
  
  }

  .login {
    font-family: 'InkLipquid';
    font-size: 30px;
    text-align: right; 
    text-decoration: none; 
    color : black; 
    margin-right: 35px;
    user-select: none;
  }
  
  .login > span {
    padding: 15px;
    color : black; 
    user-select: none;
  }
  
  a {
    text-decoration: none; 
    user-select: none;
  }
  
  .logo {
    text-align :center;
  }
  
  #logoHolidayDeco  {
    font-family: 'Island-Moments';
    margin-top : 50px;
    font-size: 100px;
    user-select: none;
  }
  .logoHappy  {
    font-family: 'Island-Moments';
    margin-top : 50px;
    font-size: 100px;
    user-select: none;
    color: black;
  }
  
  .green {
    color: green;
  }

  .red {
    color: red;
  }
  
  .item-link {
  text-align: center;
  margin-top : 20px;
  margin-bottom : 10px;
  }
  .item-link a {
    font-family: 'InkLipquid';
    font-size: 35px;
    user-select: none;
    color: #004427;
  }
  .nav a {
    font-family: 'InkLipquid';
    font-size: 35px;
    color: #595959;
    user-select: none;
  }
  
  .nav-link {
    font-family: 'InkLipquid';
    font-size: 35px;
    color: #595959;
    user-select: none;
  }
  
/* nav 밑 라인 시작 */

  .separator--line--green {
    border: 0;
    border-bottom: 3px solid #004427;
    margin-top: 25px;
    margin-bottom: 15px;
    width: 100%;
    /* 애니메이션 */
    /* -webkit-animation: separator-width 1s ease-out forwards;
            animation: separator-width 1s ease-out forwards; */
  }
  .separator--line--red {
    border: 0;
    border-bottom: 3px solid #EB5858;
    margin-bottom: 5px;
    width: 100%; 
    /* 애니메이션 */
  /*   -webkit-animation: separator-width 1s ease-out forwards;
            animation: separator-width 1s ease-out forwards; */
  }
  
  
 /*  @-webkit-keyframes separator-width {
    0% {
      width: 0;
    }
    100% {
      width: 100%;
    }
    
  }
   */
/* nav 밑 라인 끝 */
