
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, html {
  height: 100%;
}

.snowflake {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: white; 
  position: absolute; /* 눈송이 감추기 위해 사용 */
  top: 270px; /* 이미지 시작점부터 눈 내릴 수 있도록 함 */
  box-shadow: 0 0 5px 1px rgba(255, 255, 255, 0.7);
}

.main {
  background-image: url('/images/index3.jpg');
  color: white;
   width: 100%; 
   height:100%;
   background-size: cover;
   
}

@keyframes fall {  
    from{} /* 눈송이가 있는 곳에서 애니메이션이 시작할 것이기 때문에 비워둚 */
    to{
    transform: translateY(100vh);  
    opacity: 0.4;
    }
}

 .text {
    font-family: 'omyu_pretty';
    position: absolute; 
    top: 50%; 
    left: 50%; 
    font-size: 48px;
  } 
  