* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

#searchForm {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;

}

#sort{
  width: 120px;
  padding: .8em .5em;
  font-family: 'SUITE-Regular';
  appearance: none;
  border-width: 0 0 1px;
  text-align: center;
}

 #searchBar {
  width: 200px;
  padding: .8em .5em;
  font-family: 'SUITE-Regular';
  appearance: none;
  border-width: 0 0 1px;
  text-align: center;
}

 #sort:focus, #searchBar:focus {
 outline: none;
}

button {
  border: none;
  background-color: white;
}


.itemList {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  gap: 5px;
  margin-left: 200px;
  margin-right: 200px;
}

.item {
  width: calc(33.33% - 20px); 
  margin: 5px; 
  box-sizing: border-box; 
  display: flex;
  flex-direction: column; 
}

.MainImg {
  flex-grow: 1;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  transition: .5s ease-in-out;
}

.MainImg:hover {
  opacity: 0.5;
}

.photo_feather {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.photo_image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: 4 / 3; /* 이미지의 가로 및 세로 비율을 4:3으로 유지 */
}

.itemInfo {
  font-family: 'SUITE-Regular';
  font-size: 18px;
  text-align: center;
  margin-top: 10px;
}

#pagination {
  text-align: center;
  color: #004427;
}

a {
  color : black;  
}


