@charset "UTF-8";


#orderTitle {
  font-family: 'Domine', serif;
  color: #000000;
  font-weight: bold;
  font-size: 32px;
  text-align: center;
  padding: 5px;
  user-select: none;
}

.orderBox {
  width: 830px;
  margin: auto;
}

.orderForm {
  margin: auto;
  height: 180px;
  overflow-y:scroll;
  overflow-x: hidden;
}

.orderForm::-webkit-scrollbar { 
  width: 10px; /* 세로축 스크롤바 두께 */ 
} 

.orderForm::-webkit-scrollbar-track { 
  background-color: #CBCBCB; /*스크롤 바 배경 색상*/ 
} 

.orderForm::-webkit-scrollbar-thumb { 
  border-radius: 8px; 
  background-color: #EB5858; /*스크롤 바 색상*/ 
}

.item {
  width: 800px;
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 10px;
}

img {
  width: 200px;
  height: 130px;
  border-radius: 10px;
  margin-right: 20px;
}

.itemInfo {
  font-family: 'SUITE-Regular';
  margin: auto;
  display: inline-block;
  width: 800px;
  justify-content: center;
  min-height: 30px;
  display: flex;
  align-items: center;
}

.quantity {
  font-size: 16px;
  width: 30px;
  height: 30px;
  font-size: 15px;
  text-align: center;
  border: none;
}

hr {
  margin-top: 30px;
  margin-bottom: 30px;
}

.orderUserInfo { 
  width: 380px;
  height: 150px;
  font-size: 14px;
  font-weight: bold;
  padding-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 10px;
  background-color: #FAF2E4;
}

.deliveryLine{
  width: 380px;
  height: 220px;
  font-size: 14px;
  font-weight: bold;
  padding-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 10px;
  background-color: #FAF2E4;
}

 input[type=checkbox] {
  accent-color:#EB5858; 
}

.title-group {
 display: flex;
}
#sameUserInfo{
  width: 15px;
}

input {
  width: 350px;
  border: none;
  border-bottom: 1px solid black;
  outline: none;
  font-family: 'SUITE-Regular';
  background-color: transparent;
  margin-bottom: 10px;
  font-size: 14px;
  align-items: center;
}

input[type="button"] {
  border: 1px solid black;
  width: 110px;
  margin-left: 20px;
  border-radius: 20px;
  cursor: pointer;
}

#postcode {
  width: 220px;
}

.btn-payMethod-group {
  display: flex;
  margin-top: 10px;
  align-items: baseline

}



.btn-forward-group {
  display: flex;
  margin-top: 30px;
  justify-content: center;
}

#goBack, #btnPay {
  width: 180px;
  height: 50px;
  border: 1px solid black;
  border-radius: 20px;
  font-size: 16px;
  text-align: center;
  margin-right: 20px;
  cursor: pointer;
}

#goBack {
  background-color: #EB5858;
}

#btnPay {
  background-color: #004427;
  color: white;
}

.payInfoLine {
  display:flex;
  align-items: center;
  margin-right: 30px;
}

.totalPrice {
  margin-right: 30px;
}

.orderReceiverInfo {
    display: flex;
    width:900px;
  }

/*
---------------------------------------
라디오버튼
---------------------------------------
*/

.kakaoPay {
  width: 100px;
  border: 1px solid #EAE7E7;
  border-radius: 10px;
  display:inline-block;
  margin:0px 0 0 0;
  cursor: pointer;
  background-color: #EAE7E7;
}
    
.naverPay {
  width: 100px;
  border: 1px solid #EAE7E7;
  border-radius: 10px;
  display:inline-block;
  margin:0px 0 0 0;
  cursor: pointer;
  background-color: #EAE7E7;
}
    
.creditCard {
  width: 100px;
  border: 1px solid #EAE7E7;
  border-radius: 10px;
  display:inline-block;
  margin:0px 0 0 0;
  cursor: pointer;
  background-color: #EAE7E7;
}
.kakaoPay input[type=radio], .naverPay input[type=radio], .creditCard input[type=radio]{
  display: none;
}
.kakaoPay label, .naverPay label, .creditCard label {
  display: block;
  border-radius: 10px;
  text-align: center;
  height: -webkit-fill-available;
  line-height: 40px;
}
     
/* Checked */
.kakaoPay input[type=radio]:checked + label {
  background: #F6F05D;;
  border: 1px solid #F6F05D;;
  color: black;
  
}
/* Checked */
.naverPay input[type=radio]:checked + label {
  background: #36C176;;
  border: 1px solid #36C176;;
  color: black;
  
}
/* Checked */
.creditCard input[type=radio]:checked + label {
  background: #d66767;
  border: 1px solid #d66767;
  color: black;
  
}

/* Hover */
.kakaoPay input[type=radio]:hover + label {
  background: rgb(254, 241, 1);
  cursor: pointer;
  color: black;
  transition: background 0.3s ease, color 0.3s ease;
}
 /* Hover */
.naverPay input[type=radio]:hover + label {
  background: #00b300;
  cursor: pointer;
  color: black;
  transition: background 0.3s ease, color 0.3s ease;
}
 /* Hover */
.creditCard input[type=radio]:hover + label {
  background: #ff6666;
  cursor: pointer;
  color: black;
  transition: background 0.3s ease, color 0.3s ease;
}

.paymentGroup {
margin-bottom:30px;
}
/*
---------------------------------------
라디오버튼끝
---------------------------------------
*/
